
.nav-outer{
    width: auto;
    height:auto ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* 
}


.link{
   
    width: 170px;
    height: 100px;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nav{
    width: 45%;
    height: 100px;
    background-color: rgb(75, 126, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0;
   
    

}


.nav ul{
    display: flex;
    list-style: none;
    gap:2rem;
    font-size: 20px;

}

.nav li.active{
    background-color: rgb(63, 63, 63);
   
}


.nav li.hover{
    background-color: rgb(44, 44, 117);
} */

nav{
    height: auto;
    position: fixed;
    bottom: 0;
    width: 45%;
    background-color: rgb(33, 112, 197);
    display: flex;
    justify-content: center;
    align-items: end;
    
    
    
 }



 .links:hover {
    background-color: rgb(33, 112, 197);
 }
 .selected{
   background-color: rgb(0, 18, 43);
}

.links img{
    width: 30px;
    height: 30px;
  
   
}
.nav a{
    
    width: 135px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: medium;
    background-color: rgb(33, 112, 197);
    
}






.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-item {
    text-align: center;
    color: rgb(208, 255, 0);
    text-decoration: none;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.nav-item img {
    width: 24px;
    height: 24px;
}

.nav-item span {
    font-size: 12px;
    margin-top: 5px; /* Adjust the spacing between icon and text */
}

.home-outer{
    width: 100%;
    background-color: #d4d4d4;
    height: 800px;
    display: flex;
    justify-content: center;
}
.home{
    width: 45%;
    height: 800px;
    background-color: rgb(249, 249, 249);
    display: block;
    justify-content: center;
    padding: 75px 25px 25px 75px;
    font-size: 25px;

}

.h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
 
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: rgb(32, 79, 110);
    color: #d4d4d4;
}

.navi a{
    margin: 0 2rem;
    color:white ;
    text-decoration: none;

}

.navi a:hover{
    color:rgb(33, 112, 197);
}

.header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: rgb(33, 112, 197);
    border: none;
    outline: none;
    color: aliceblue;
    visibility: hidden;
    opacity: 0;

}

.header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: brown;
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

.dash{
    width: 100%;
    height: 200px;
    display: flex ;
    padding: 10px;
    border: 1px solid red;
}


.icons{

    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;


}

.icons img{
    width:auto;
    height: auto;
}



  
@media only screen and (max-width: 870px) {
    .nav{
      width: 80%;
    }
    
    
  }

  @media only screen and (max-width: 526px) {
    .nav{
      width: 100%;
    }
    
    
  }

  @media only screen and (max-width: 526px) {
    .nav{
      width: 100%;
    }
    
    
  }

  /* @media only screen and (max-width: 526px) {
     .links{
        width: auto;
        display: flex;
     }
     .links img{
        width: 15px;
        height: 15px;
     }
    
    
  } */